* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  background-color: #F5F5F5;
  font-family: 'IBM Plex Sans Thai', sans-serif !important;
}
body {
  background-color: #F5F5F5;
  font-family: 'IBM Plex Sans Thai', sans-serif !important;
}
.show-more{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-left: 18% !important;
  margin-right:9% !important;
  border-radius: 15px !important;
  flex-wrap: wrap !important;
  transition: all 0.3s ease !important;
  font-size: 20px;
  color: blue;
  font-weight: bold;
}

.box_checkAttendance {
  background-color: white !important;
  display: flex !important;
  justify-content: center !important;
  width: 951px !important;
  height: 136px !important;
  margin-left: 18% !important;
  border-radius: 15px !important;
  flex-wrap: wrap !important;
  justify-content: space-between !important;
  transition: all 0.3s ease !important;
}
.box_checkAttendance:hover{
  margin-top: 10px;
  margin-bottom: 10px;
  z-index: 100;
  transform: scale(1.03,1.03);
}
.text_header{
  color: #133e4e;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.box_checkAttendance .box_check {
  width: 100%;
  /* หรืออื่น ๆ ตามที่คุณต้องการ */
}

.image-box {
  width: 103px;
  height: 110.18px;
  margin-left: 40px;
  padding-top: 15px;
  border-radius: 22px;
}

.text_name_maintenance {
  width: 150px;
  height: 110px;
  padding-top: 15px;
}

.check_in {
  justify-content: flex-end !important;
  display: inline !important;

  font-size: 20px !important;
  margin-top: 50px !important;
  margin-right: 10% !important;
}

.check {
  justify-content: flex-end !important;
  display: flex;
  padding: 20px 50px 0px 0px;
}


.bor {
  border: 1px solid red;
}

@media screen and (max-width: 1200px) {
  .box_checkAttendance {

    background-color: white!important;
    display: flex !important;
    justify-content: center !important;
    width: 800px !important;
    height: 136px !important;
    margin-left: 18% !important;
    border-radius: 15px !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;

  }

  .box_checkAttendance .box_check {
    width: 100%;
    /* หรืออื่น ๆ ตามที่คุณต้องการ */
  }
 
}
@media screen and (max-width: 1073px) {
  .box_checkAttendance {

    background-color: white!important;
    display: flex !important;
    justify-content: center !important;
    width: 685px !important;
    height: 136px !important;
    margin-left: 18% !important;
    border-radius: 15px !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;

  }

  .box_checkAttendance .box_check {
    width: 100%;
    /* หรืออื่น ๆ ตามที่คุณต้องการ */
  }

}

@media screen and (max-width: 940px) {
  .box_checkAttendance {

    background-color: white !important;
    display: flex !important;
    justify-content: center !important;
    width: 610px !important;
    height: 136px !important;
    margin-left: 18% !important;
    border-radius: 15px !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;

  }

  .box_checkAttendance .box_check {
    width: 100%;
    /* หรืออื่น ๆ ตามที่คุณต้องการ */
  }

}

@media screen and (max-width: 786px) {
  .box_checkAttendance {

    background-color: white !important;
    display: flex !important;
    justify-content: center !important;
    width: 450px !important;
    height: 136px !important;
    margin-left: 18% !important;
    border-radius: 15px !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;

  }
  .text_name_maintenance {
    width: 150px;
    height: 110px;
    padding-top: 15px;
    font-size: 10px;
  }
  .box_checkAttendance .box_check {
    width: 100%;
    /* หรืออื่น ๆ ตามที่คุณต้องการ */
  }

}

@media screen and (max-width: 590px) {
  .box_checkAttendance {

    background-color: white !important;
    display: flex !important;
    justify-content: center !important;
    width: 350px !important;
    height: 136px !important;
    margin-left: 18% !important;
    border-radius: 15px !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;

  }
  .text_name_maintenance {
    width: 150px;
    height: 110px;
    padding-top: 15px;
    font-size: 15px;
  }
  .check{
    display: none;
  }
  .box_checkAttendance .box_check {
    width: 100%;
    /* หรืออื่น ๆ ตามที่คุณต้องการ */
  }

}

@media screen and (max-width: 413px) {
  .box_checkAttendance {

    background-color: white !important;
    display: flex !important;
    justify-content: center !important;
    width: 250px !important;
    height: 136px !important;
    margin-left: 18% !important;
    border-radius: 15px !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;

  }
  .text_name_maintenance {
    width: 150px;
    height: 110px;
    padding-top: 15px;
    font-size: 5px;
  }
  .check{
    display: none;
  }
  .box_checkAttendance .box_check {
    width: 100%;
    /* หรืออื่น ๆ ตามที่คุณต้องการ */
  }

}

@media screen and (max-width: 268px) {
  .box_checkAttendance {

    background-color: white !important;
    display: flex !important;
    justify-content: center !important;
    width: 150px !important;
    height: 100px !important;
    margin-left: 18% !important;
    border-radius: 15px !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;

  }
  .text_name_maintenance {
    width: 150px;
    height: 110px;
    padding-top: 15px;
    font-size: 5px;
  }
  .check{
    display: none;
  }
  .box_checkAttendance .box_check {
    width: 100%;
    /* หรืออื่น ๆ ตามที่คุณต้องการ */
  }

}