* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100vw;
}
body {
  background-color: #F5F5F5;
  font-family: 'IBM Plex Sans Thai', sans-serif !important;
}
html {
  background-color: #FFF;
  width: 100%;
  height: 100%;
  background-color: #F5F5F5;
  font-family: 'IBM Plex Sans Thai', sans-serif !important;
}

body {
  color: rgb(var(--foreground-rgb));
}

.bor{
  border: 1px solid red;
}
.password-input{
  height: 50px;
}