* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    background-color: #F5F5F5;
    font-family: 'IBM Plex Sans Thai', sans-serif !important;
}
body {
    background-color: #F5F5F5;
    font-family: 'IBM Plex Sans Thai', sans-serif;
}

.main-container {
    background-color: #F5F5F5;
}
.hover-action {
    transition: all 0.3s ease !important;
    border: 1px solid transparent;
}

.hover-action:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.box-hover {
    width: 216pt;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    padding-top: 10px;
}

.text-hover {
    color: #00215F;
    font-size: 15px;
}

.space-note-hover {
    width: 18px;
    height: 17px;
    border-radius: 50%;
    margin-right: 10px;
    filter: drop-shadow(0px 5px 6px #909090);
    /* Adjust the margin as needed */
}

.text-hover::after {
    content: '\00a0';
    /* Unicode for non-breaking space */
}

.circle-note-hover {
    width: 18px;
    height: 17px;
    border-radius: 50%;
    margin-right: 10px;
    filter: drop-shadow(0px 5px 6px #909090);
    /* Adjust the margin as needed */
}

.circle {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
}

.circle-monthly {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 7px;
}

.category-status {
    display: flex;
    align-items: center;
    /* Vertically center the content */
    justify-content: flex-end;
}

.last-update {
    font-weight: bold;
    color: #3B3B3B;
    font-size: 20px;
    font-weight: 500;
}

.Show-Monthly-Case {
    background-color: #016064;
}

.text-case {
    color: #FFF;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    font-size: 32.5px;
    font-weight: 500;
}

.text-daily {
    display: flex;
    color: #FFF;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    font-size: 30px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
}

.case-mc-case {
    color: #000;
    display: flex;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text-daily-day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #F5F5F5;
    /* margin-top: 16px;
    margin-left: 5px; */
}

.accumulate {
    color: #F5F5F5;
    font-size: 16.5px;
    margin-top: -5px;
}

.monthly-case {
    color: #00215F;
    background-color: rgba(1, 96, 100, 0.1);
}

.amcu {
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.case-text,
.targetamcu {
    color: #000;
    display: flex;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.text-target-mtbf {
    color: #000;
    display: flex;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5px;
}

.targetamcu-mc {
    color: #000;
    display: flex;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 0;
}

.amcu-row-last {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.amcu-case {
    display: flex !important;
    /* color: #E1032B; */
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25) !important;
    font-size: 50px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: normal !important;
    justify-content: flex-end !important;
    align-items: flex-end !important;
    width: 315px !important;
    padding: 2px !important;
}

.bg-mtbf,
.bg-mttr {
    color: #00215F;
    background-color: rgba(1, 96, 100, 0.1);
    font-size: 20px;
    font-style: normal;
    display: flex;
    justify-content: center;
    border-radius: 7px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 9.5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.cirandtext {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.o_circle {
    display: flex;
}

.text-num {
    display: flex;
    /* color: #248B00; */
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    font-size: 35px;
    font-style: normal;
    line-height: normal;
}

.mtbg-mttr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 36px;
}

.bg-mttr {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 36px;
    /* border: 1px solid black; */
    /* width: 225px;
    height: 100px; */
    /* Adjust padding as needed */

}

.bg-mtbf {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 36px;
    /* border: 1px solid black; */
    /* width: 225px;
    height: 100px; */
    /* Adjust padding as needed */
}

.text-mc {
    display: flex;
    color: #000;
    font-size: 22px;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* margin-top: 10px; */
}

.mc-case {
    background-color: white;
    /* border: 1px solid black; */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
}

.accumulate-actual-case {
    /* border: 1px solid black; */
    background-color: #E1E9E9;
    border-radius: 7px;
}

.accumulate-actual-time {
    /* border: 1px solid black; */
    background-color: #E1E9E9;
    border-radius: 7px;
}

.acmurow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.acmucol {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* width: 400px; */
}

.mc-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    padding: 5px;
}

.mc-bm-2 {
    display: flex;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    font-size: 39px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    justify-content: flex-end;
    align-items: flex-end;
}

.text-mc-bm {
    color: #00215F;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.mc-bm-white {
    background-color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start;
    align-items: flex-start; */
    /* Align items to the top */
    width: 319px;
    height: 60px;
    padding: 2px;
    border-radius: 7px;
    /* Adjust padding as needed */
}

.mc-bm {
    background-color: #E1E9E9;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* Align items to the top */
    /* width: 319px;
    height: 77px; */
    /* Adjust padding as needed */
}

.daily-case-show {
    display: flex;
    flex-direction: row;
    background-color: #016064;
}


.daily-case_actual {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-table {
    background-color: rgba(1, 96, 100, 0.1);
}

.bg-daily {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* Align items to the top */
    width: 460px;
    height: 500px;
    border-radius: 17px;
    padding: 20px;
    /* Adjust padding as needed */
}


.sum-case {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 1px;
}

.text-dailycase {
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.case-request {
    color: #034780;
    background-color: white;
    width: 130px;
    height: 85px;
    border: 1px solid #034780;
    box-shadow: 0px 1px 1px 0px #034780;
}

.case-process {
    color: #F7C152;
    background-color: white;
    width: 130px;
    height: 85px;
    border: 1px solid #F7C152;
    box-shadow: 0px 1px 1px 0px #F7C152;
}

.case-finish {
    color: #248B00;
    background-color: white;
    width: 130px;
    height: 85px;
    border: 1px solid #248B00;
    box-shadow: 0px 1px 1px 0px #248B00;
}

.ta_ble {
    width: 100%;
}

.bor {
    border: 1px solid red;
}

@media (max-width: 450px) {
    .text-target-mtbf {
        display: none;
    }

    .text-case {
        font-size: 15px !important;
    }

    .accumulate {
        display: none !important;
    }

    .text-num {
        display: none !important;
    }

}

@media (max-width: 600px) {
    .mtbg-mttr {
        display: none !important;
    }

    .amcu-case {
        display: none !important;
    }

    .amcu {
        display: none !important;
    }

    .case-request {
        display: none !important;
    }

    .case-process {
        display: none !important;
    }

    .case-finish {
        display: none !important;
    }

    .main-container {
        background-color: #F5F5F5;
    }

    .ta_ble {
        width: 100%;
        overflow: auto;
    }

    .text-num {
        display: none !important;
    }

    .hr {
        align-items: end;
    }

    .hrcase {
        font-size: 45%;
    }

    .amcu {
        font-size: 80%;
    }

    .o_circle {
        display: none;
    }

    .text-target-mtbf {
        display: none;
    }

    .text-case {
        font-size: 15px !important;
    }

    .accumulate {
        display: none !important;
    }

    .case-text {
        display: none !important;
    }

    .targetamcu {
        font-size: 80%;
        display: none;
    }

    .amcu-case {
        font-size: 27px;
        display: none;
    }

    .text-mc-bm {
        font-size: 80%;

    }

    .targetamcu-mc {
        display: none;
    }

    .bg-white-case {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        font-size: 80%;

    }

    .mc-bm-2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        display: none;
    }

    .text-dailycase {
        font-size: 20px;
    }

    .text-daily {
        font-size: 15px;
    }

    .text-daily-day {
        font-size: 12px;
    }

    .Image {
        display: none;
    }
}

@media (max-width: 768px) {
    .last-update {
        font-size: 13px !important;
    }

    .ta_ble {
        width: 100%;
        overflow: auto;
    }

    .text-num {
        font-size: 15px;
        padding-top: 10px;

    }

    .hr {
        display: none !important;
    }

    .text-target-mtbf {
        display: none !important;
    }

    .hrcase {
        font-size: 45%;
    }

    .amcu {
        font-size: 80%;

    }

    .o_circle {
        display: none;
    }

    .targetamcu {
        font-size: 80%;
        display: none;
    }

    .amcu-case {
        font-size: 27px;
        display: none;
    }

    .text-mc-bm {
        font-size: 80%;

    }

    .targetamcu-mc {
        display: none;
    }

    .bg-white-case {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        font-size: 80%;

    }

    .mc-bm-2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        display: none;
    }

    .text-dailycase {
        font-size: 25px;
    }

    .text-daily {
        font-size: 15px;
    }

    .text-daily-day {
        font-size: 12px;
    }

}

@media screen and (max-width: 1300px) {
    .category-status {
        font-size: 11px;
    }

    .last-update {
        font-size: 15px;
    }

    .ta_ble {
        width: 100%;
        overflow: auto;
    }

    .text-num {
        font-size: 15px;
        padding-top: 10px;

    }

    .hr {
        font-size: 10px;
        margin-top: 10px;
    }

    .text-target-mtbf {
        font-size: 10px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .ta_ble {
        width: 100%;
        overflow: auto;
    }

    .text-num {
        font-size: 15px;
        padding-top: 10px;
    }

    .hr {
        display: none !important;
    }

    .text-target-mtbf {
        display: none !important;
    }

    .hrcase {
        font-size: 45%;
    }

    .amcu {
        font-size: 95%;
        margin-top: 5px;
    }

    .targetamcu {
        font-size: 80%;
    }

    .amcu-case {
        font-size: 40px;
    }

    .text-mc-bm {
        font-size: 80%;
        margin-top: 7px;
    }

    .targetamcu-mc {
        display: none;
    }

    .bg-white-case {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        font-size: 15px;
    }

    .mc-bm-2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 30px;
    }

    .circle-monthly {
        margin-top: 8px;
    }
}

.white {
    background-color: white;
    border: 1px solid #6E6E6E;
    border-color: #6E6E6E;
}

.green {
    background-color: #A2D865;
}

.yellow {
    background-color: #FFD06F;
}

.orange {
    background-color: #FF964F;
}

.red {
    background-color: #FF6961;
}

.table {
    width: 20%;
    height: 64.5%;
    border-collapse: collapse;
}

.table td,
.table th {
    border: 8px solid #ddd;
    padding: 2px;
    text-align: center;
    justify-content: center;
    stroke: #D1D1D1;
}

.change-color {
    transition: all 0.3s ease !important;
}
