* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  background-color: #F5F5F5;
  font-family: 'IBM Plex Sans Thai', sans-serif !important;
}
body {
  background-color: #F5F5F5;
  font-family: 'IBM Plex Sans Thai', sans-serif !important;
}
.InputDate {
  width: 200px !important;
  height: 40px !important;
  margin-bottom: 10px !important;
}

.bm_morethan_twohrs {
  width: 200px !important;
  height: 40px !important;
  margin-bottom: 10px !important;
}

.bm_less_threemin {
  width: 200px !important;
  height: 40px !important;
}

.TimeBM {
  width: 200px !important;
  height: 40px !important;
  margin-bottom: 10px !important;
}

.bm_morethan_threemin {
  width: 200px !important;
  height: 40px !important;
  margin-bottom: 60px !important;
}

.Confirm,
.Confirm:hover {
  width: 65px !important;
  height: 25px !important;
  background-color: #489F55 !important;
}

.Cancel,
.Cancel:hover {
  width: 65px !important;
  height: 25px !important;
  margin-left: 50px !important;
  margin-right: 20px !important;
  border: 0.79px solid #8C8C8C !important;
  background: #FFF !important;
  color: #8C8C8C !important;
}

.Button {
  background-color: #FFF !important;
  border: 0.79px solid #8C8C8C !important;
}

.Error {
  color: red;
}