* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  background-color: #F5F5F5;
  font-family: 'IBM Plex Sans Thai', sans-serif !important;
}
body {
  background-color: #F5F5F5;
  font-family: 'IBM Plex Sans Thai', sans-serif !important;
}

.chart-container canvas {
  display: inline !important; 
}

.background {
  background-color: #F5F5F5;
  height: auto;
}

.text_header {
  color: #133e4e;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.border_overall {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: gray;
  background-color: white;
  display: flex;
  flex-direction: row;
}

.border_accumulated {
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: #D1D1D1;
  background-color: #F5F5F5;
}

.border_bm_cost {
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: #D1D1D1;
  background-color: #F5F5F5;
}

@media screen and (max-width: 576px){
  .border_bm_cost {
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: #D1D1D1;
    background-color: #F5F5F5;
    margin-right:21px;
  }
}

.cost_section {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: gray;
  background-color: white;
  flex-direction: column;
  align-items: center;
  width: 49%;
}

.center-box {
  width: 0.5cm;
}

.cost_plan_actual {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: gray;
  background-color: white;
  flex-direction: column;
  align-items: center;
  width: 49%;
}


@media screen and (min-width: 1600px) {
  .cost_plan_actual {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: gray;
    background-color: white;
    flex-direction: column;
    align-items: center;
    width: 915px;
  }

  .cost_section {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: gray;
    background-color: white;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }
}

/* @media screen and (min-width: 1290px) {
  .cost_plan_actual {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: gray;
    background-color: white;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }
} */

.table {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: gray;
  background-color: white;
}

.total_mc_cost {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: gray;
  background-color: white;
}

.border_total_mc_cost {
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: #D1D1D1;
  background-color: white;
  flex-direction: column;
    align-items: center;
}

.amcu {
  color: #00215F;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.amcubm {
  color: #00215F;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.amcupm {
  display: flex;
  color: #00215F;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.targetamcu {
  color: #000;
  display: flex;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.targetbm {
  color: #000;
  display: flex;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.targetpm {
  color: #000;
  display: flex;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.amcu-case {
  display: flex;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  justify-content: flex-end;
  align-items: flex-end;
  color: #248B00;
}

/* Responsive Accumulated */
@media screen and (max-width: 767.20px) {
  .amcu {
    display: none;
  }

  .targetamcu {
    display: none;
  }

  .amcu-case {
    display: none;
  }

  .amcuborder {
    display: none;
  }

}



@media screen and (max-width: 992px) {
  .amcu-case {
    display: flex;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    justify-content: flex-end;
    align-items: flex-end;
    color: #248B00;
  }
}

/* Responsive ครั้งที่ 1 BM */
@media screen and (max-width: 992px) {
  .amcu-case-bm {
    display: flex;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    justify-content: center;
    align-items: center;
    color: #248B00;
  }
}

@media screen and (min-width: 992px) {
  .amcu-case-bm {
    display: flex;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    justify-content: flex-end;
    align-items: flex-end;
    color: #248B00;
  }
}


/* Responsive ครั้งที่ 1 PM */
@media screen and (max-width: 992px) {
  .amcu-case-pm {
    display: flex;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    justify-content: center;
    align-items: center;
    color: #248B00;
  }
}

@media screen and (min-width: 992px) {
  .amcu-case-pm {
    display: flex;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    justify-content: flex-end;
    align-items: flex-end;
    color: #248B00;
  }
}


.case {
  color: #000;
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.twobox {
  display: flex;
  justify-content: center;
}


.logo_graph {
  display: flex;
}

.bor {
  border: 1px solid red;
}

.circle {
  display: flex;
}

.circle-accum {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 7px;
}

.cirandtext {
  display: flex;
  flex-direction: row;
  align-items: center;
}