* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background-color: #F5F5F5;
  font-family: 'IBM Plex Sans Thai', sans-serif !important;
}

body {
  background-color: #F5F5F5;
  font-family: 'IBM Plex Sans Thai', sans-serif !important;
}

.MuiToolbar-root p,
.MuiToolbar-root div,
.MuiTablePagination-spacer p {
  margin-bottom: 0;
  font-family: 'IBM Plex Sans Thai', sans-serif !important;
}

.MuiToolbar-root {
  font-family: 'IBM Plex Sans Thai', sans-serif !important;
}